<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xmlns:akka="http://akka.io/schema/akka"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
       http://akka.io/schema/akka http://akka.io/akka-1.0.xsd
       ">

    <camelContext id="camelContext" xmlns="http://camel.apache.org/schema/spring">

        <package>org.bitcex</package>
        <contextScan/>

        <jmxAgent id="agent" disabled="false"/>
    </camelContext>

    <camel-service xmlns="http://akka.io/schema/akka">
        <camel-context ref="camelContext"/>
    </camel-service>

    <bean class="org.bitcex.camel.ActorStarter"/>

    <bean class="org.apache.camel.impl.DefaultShutdownStrategy">
        <property name="shutdownNowOnTimeout" value="true"/>
        <property name="timeout" value="300"/>
        <property name="timeUnit" value="MILLISECONDS"/>
    </bean>

    <bean id="RestletComponent" class="org.restlet.Component"/>

    <bean id="RestletComponentService" class="org.apache.camel.component.restlet.RestletComponent">
        <constructor-arg index="0">
            <ref bean="RestletComponent"/>
        </constructor-arg>
    </bean>

</beans>